<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<Tests>
		<test>CrashLab.Tests.ManagedObject</test>
		<test>CrashLab.Tests.GenHeaps</test>
		<test>CrashLab.Tests.SpinUpThreads</test>
		<test>CrashLab.Tests.LeakManaged</test>
		<test>CrashLab.Tests.LeakUnmanaged</test>
		<test>CrashLab.Tests.HangOnDeadlock</test>
		<test>CrashLab.Tests.HangOnHighCPU</test>
		<test>CrashLab.Tests.HangOnLowCPU</test>
		<test>CrashLab.Tests.FinalizerSupressed</test>
		<test>CrashLab.Tests.FinalizerUnsupressed</test>
		<test>CrashLab.Tests.FinalizerBlock</test>
		<test>CrashLab.Tests.ManagedException</test>
		<test>CrashLab.Tests.PerformanceAnalysis</test>
		<test>CrashLab.Tests.GCCollect</test>
	</Tests>
</configuration>
